@model SecureUrlManager.App.Features.Shared.UrlRecord;
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section>
    // TODO text about the request not being found
</section>