@model SecureUrlManager.App.Features.Shared.UrlRecord;
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_PartialLayout.cshtml";
}

<section>
    @await Html.PartialAsync("_ApplicationForm", Model)
    <aside class="summary" 
        hx-indicator="#loading-indicator" 
        hx-trigger="load" 
        hx-post="/og-display" 
        hx-swap="innerHTML"
        hx-include="#og-url"
    >
        <span id="loading-indicator" class="htmx-indicator">Loading OG data...</span>
        <input type="hidden" id="og-url" name="url" value="@Model.Original" />
    </aside>
</section>